# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
romu_nextjs/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
romu_nextjs/coverage

# next.js
romu_nextjs/.next/
romu_nextjs/out/

# production
romu_nextjs/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*-firebase-adminsdk*.json